  /**********Base Element Style********/
  
  
  #links {
	  list-style: none;
	  position:relative;
	  width: 100%;
	  height: 11%;
	  float: left;
	  margin: inherit;
	  /* margin-bottom: 0px; */
	  margin-top: .25%;
	  padding-left: 0px;
  }
  
  #links li {
	  float: left;
	  margin-right: 6%;
	  width: 8%;
	  height: 5em;
  }
     
  #links p {
	  /* padding-right: 10px; */
	  text-align: center;
	  vertical-align: top;
	  margin-top: 20%;
	  font-family: "Lucida Sans Unicode";
	  font-size: 14px;
	  font-style: normal;
  }
  
  #links img {
      /* margin-bottom: 17%; */
	  border-radius: 6px;
      text-align: center;
	  display: block;
      border-style: solid;
      border-width: 2px;
      border-color: black;
	  max-width: 100%
	  
}
 
  /* p.pad { */
	   /* padding-top: 5%; */
  /* }   */
  
  #links img:hover {
      box-shadow: 5px 7.5px 7.5px rgba(0, 0, 0, .5);
      -moz-box-shadow: 5px 7.5px 7.5px rgba(0, 0, 0, .5);
      -webkit-box-shadow: 5px 7.5px 7.5px rgba(0, 0, 0, .5);
      -khtml-box-shadow: 5px 7.5px 7.5px rgba(0, 0, 0, .5);
      border-color: red;
	  max-width: 110%;
	  z-index: -2;
  }
  
    /**********Text Element Style********/
	
	ul#links.text{
		margin-top: 0px;
		text-align: center; 
		
	}
	
	p {
		font-family: "Lucida Sans Unicode";
		font-size: 12px;
		font-style: normal;
	}
	
	/*****************Hide Div***********/
	


 
 