#mpContainer {
    min-height: 300px;
    padding: 104px 8px 0;
}
#mainNav div {
    height: 88px;
    min-height: 88px;
}
body {
    background: #000 url(http://www.bbchs.org/vimages/L9/mainBodyBG.jpg) no-repeat center top fixed;
    background-size: cover;
}